/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9/12/2021, 03:06:01 PM
    Author     : Admonsis
*/
.thead-dark{
    background: #6c6b6b;
    color: white;
    text-align: center;
}
body{
    background-image: url("../IMG/fondo.jpg"); 
    background-size: cover;


}
.container{
    color: #445849f5;
    background-size: 100%;
    align-self: center;
    opacity: 1;
    background-color: #ffffffc7;
    align-items: center;
    margin-top: 3%;
    padding: 3%;
    border-radius: 10px;
}

.botonesIndex{
    padding: 10px;
}
.botonesTabla{
    margin: 2px 0px;
}
.table-responsive{
    border-radius: 10px;
}
.tablaEncabezado{
    text-align: center;
}